h2 {
    color: white;
}

p {
    color: white;
}

ul {
    color: white;
}

body {
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100%;
    background-color: rgb(12, 12, 12);
}

button {
    color: white;
    border-radius: 18px;
    background-color: rgb(0, 0, 0);
    border: 0;    
    height: fit-content;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button:hover {
    background-color: rgb(20, 20, 20);
}

.card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80vw;
    justify-content: center;
    align-items: center;
    background-color:rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 10px 20px 30px;
    padding: 20px;
}

.navbar {
    width: 80vw;
    height: 54px;
    background-color: rgb(0, 0, 0);
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    box-shadow: 5px 10px 15px;
}

.aboutMe {
    text-align: center;
}

#name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name h1, #name p{
    margin: 0;
}